<h1>Sua chua</h1>
<form action="/xoa" method="POST">
    ID: <input type="text" name="id" placeholder="Nhập mã sinh viên của bạn" value="<%= student.id %>"><br> MaSinhVien: <input type="text" name="MaSinhVien" placeholder="Nhập mã sinh viên của bạn" value="<%= student.MaSinhVien %>"><br> NgaySinh:
    <input type="text" name="NgaySinh" placeholder="Nhập ngày sinh của bạn" value="<%= student.NgaySinh %>"><br> GioiTinh: <input type="text" name="GioiTinh" placeholder="Nhập giới tính của bạn" value="<%= student.GioiTinh %>"><br> QueQuan: <input type="text"
        name="QueQuan" placeholder="Nhập địa chỉ của bạn" value="<%= student.QueQuan %>"><br>
    <button type="submit">Sửa sinh viên</button>
</form>